<mat-card class="book-card">
  <mat-card-header>
    <mat-card-title>{{ book?.title }}</mat-card-title>
    <mat-card-subtitle>{{ book?.author }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="book-image-container">
      <img *ngIf="book?.imageUrl; else noImage" mat-card-image [src]="book?.imageUrl" alt="{{ book?.title }}"
           class="book-image" />
      <ng-template #noImage>
        <img [src]="noImageUrl" alt="{{ book?.title }}"
             mat-card-image class="book-image">
      </ng-template>
    </div>
    <div class="book-info">
      <p><strong>Year:</strong> {{ book?.year }}</p>
    </div>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-icon-button color="primary" (click)="editBook.emit(book)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="removeBook.emit(book)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
