<div class="container">
  <div class="header">
    <mat-form-field appearance="outline">
      <mat-label>Search books</mat-label>
      <input matInput [(ngModel)]="searchQuery" (input)="filterBooks()" placeholder="Enter title or author" />
    </mat-form-field>

    <button mat-raised-button class="add-book" color="primary" (click)="addBook()">➕ Add book</button>
  </div>

  <div class="books" [class.left-aligned]="isLeftAligned">
    <app-book-card
      *ngFor="let book of filteredBooks()"
      [book]="book"
      (editBook)="editBook(book)"
      (removeBook)="removeBook(book)"
      [@fade]>
    </app-book-card>
  </div>
</div>
